<h3>Add Inventory</h3>
<form name="add-inventory" ng-submit="add(addingItem)">
  <h4>TITLE</h4>
    <input type="text" name="title" required maxlength="50" ng-model="addingItem.title"/>
  <h4>QUANTITY</h4>
    <input type="number" name="quantity" required min="0" ng-model="addingItem.quantity"/>
  <h4>TYPE</h4>
    <select ng-init="addingItem.type = 'food'" required name="type" ng-model="addingItem.type">
      <option>food</option>
      <option>drink</option>
      <option>alocholic_drink</option>
      <option>side</option>
    </select>
  <h4>PRICE (¢)</h4>
    <input required min="50" type="number" name="price" ng-model="addingItem.price"/>
  <h4>DESCRIPTION</h4>
    <textarea required rows="4" cols="50" name="description" ng-model="addingItem.description"></textarea>
  <h4>IMAGE URL</h4>
    <input type="url" name="image-url" ng-model="addingItem.image_url" />
  <button type="submit">Add</button>
</form>

<h3>All Inventory</h3>
<table>
  <tr class="headers">
    <td class="table_delete">Del</td>
    <td class="table_edit">Edit</td>
    <td class="table_reviews">Rvw</td>
    <td class="table_title">TITLE</td>
    <td class="table_quantity">QTY</td>
    <td class="table_type">TYPE</td>
    <td class="table_price">PRICE</td>
    <td class="table_description">DESCRIPTION</td>
    <td class="table_image">IMAGE</td>
  </tr>
  <tr ng-repeat="item in items | orderBy: 'id'">
    <td class="table_delete"><a ng-click="confirmDelete(item.id)" class="fa fa-remove"></a></td>
    <td class="table_edit"><a ui-sref="edit-inventory({id: item.id})" class="fa fa-pencil"></a></td>
    <td class="table_reviews"><a ui-sref="inventory-reviews({id: item.id})" class="fa fa-star-half-o"></a></td>
    <td class="table_title">{{item.title}}</td>
    <td class="table_quantity">{{item.quantity}}</td>
    <td class="table_type">{{item.type}}</td>
    <td class="table_price">{{item.displayPrice}}</td>
    <td class="table_description">{{item.description}}</td>
    <td class="table_image">{{item.image_url}}</td>    
  </tr>
</table>