<h3>Reviews for {{editingItem.title}}</h3>
<table>
  <tr class="headers">
    <td class="table_delete">Del</td>
    <td>TITLE</td>
    <td>USER</td>
    <td>STARS</td>
    <td>BODY</td>
    <td>DATE</td>
  </tr>
  <tr ng-repeat="review in reviews | orderBy: 'id'">
    <td class="table_delete"><a ng-click="confirmDelete(review.id)" class="fa fa-remove"></a></td>
    <td>{{review.title}}</td>
    <td>{{review.user.name}}</td>
    <td>{{review.stars}}</td>
    <td>{{review.review_body}}</td>
    <td>{{review.date}}</td> 
  </tr>
</table>