<h3>Add Item</h3>
<form name="addOrderItem" ng-submit="add(addingItem)">
  <h4>Inventory Item</h4>
    <select ng-model="addingItem.itemId" ng-options="inventoryItem.id as inventoryItem.title for inventoryItem in inventoryItems | orderBy: 'id'">
    </select>
  <h4>Quantity</h4>
    <input type="number" name="quantity" required min="0" ng-model="addingItem.quantity"/>
  <h4>Order Id</h4>
    <input name="number" value="{{orderId}}" ng-model="addingItem.orderId">
  <button type="submit">Add</button>
</form>

<h3>All items</h3>
<table>
  <tr>
    <td>Delete</td>
    <td>Quantity</td>
    <td>Title</td>
    <td>Inventory Left</td>
  </tr>
  <tr ng-repeat="item in items">
    <td><a ng-click="confirmDelete(item.id)" class="fa fa-remove"></a></td>
    <td>{{item.quantity}}</td>
    <td>{{item.title}}</td>
    <td>{{item.InventoryLeft}}</td>
  </tr>
</table>