<section id="jranks">
  <div class="panel-filter panel input-group">
    <span class="input-group-addon"><span class="fa fa-search"></span></span>
    <input type="text" class="form-control" placeholder="Search our massive inventory!" ng-model="nameSearch">
  </div>
  <hr class="enforcer">
      <div class="inventory-grid" ng-repeat="jrank in jranks | filter: { title: nameSearch }">
      <a ui-sref="jrankItem({id: jrank.id})">
        <img src="{{jrank.image_url}}">
        <h4>{{jrank.title}}</h4>
      </a>
      </div>
</section>