navbar {

  display: block;
  background: #350658;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    height: 42px;
  }

  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    color: white;
    font-family: roboto;
    &.active {
      color: darken(#8dffc2, 20%);
    }
    &:hover {
      background: none;
      color: #8dffc2;
    }
    &:focus {
      background: none;
    }
  }

  .login-button, .signup-button {
    float: right;
    transition: color 0.2s;
    color: white;
    font-family: 'roboto';
    font-size: 16px;
    margin-top: 10px;
    background: none;
    outline: none !important;
    line-height: 16px;
      &.active {
        color: darken(#8dffc2, 20%);
      }
      &:hover {
        background: none;
        color: #8dffc2;
      }
      &:focus {
        color: darken(#8dffc2, 20%);
        background: none;
      }
  }

  .welcome {
    float: right;
    margin-top: 12px;
    font-family: 'roboto';
    color: white;
    span {
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      transition: color 0.2s;
      color: white;
      text-decoration: none;
      cursor: pointer;
      &.active {
        color: darken(#8dffc2, 20%);
      }
      &:hover {
        background: none;
        color: #8dffc2;
      }
      &:focus {
        background: none;
      }
    }
  }

  .fa-shopping-basket {
    transition: color 0.2s;
    background: none;
    color: white;
    font-size: 22px;
    line-height: 33px;
    float: right;
      &.active {
        color: darken(#8dffc2, 20%);
      }
      &:hover {
        background: none;
        color: #8dffc2;
      }
      &:focus {
        color: darken(#8dffc2, 20%);
        background: none;
      }
  }

}
