<section id="cart">
  <h4>Your Order</h4>
  <table>
    <tr>
      <td>Item</td>
      <td>Price</td>
      <td>Qty in Cart</td>
      <td>Qty in Stock</td>
      <td>Remove Item</td>
    </tr>
    <tr ng-repeat="items in cartItems">
      <td>{{items.title}}</td>
      <td>{{formatPrice(items.price * items.qty)}}</td>
      <td>
        <input type="number" ng-model="itemsToUpdate[items.id]" ng-init="1" value="{{items.qty}}" min="0" max="{{items.quantity}}"></input>
      </td>
      <td>{{items.quantity}}</td>
      <td>
        <button ng-click="removeItem(items)">Remove</button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>Total:</td>
      <td>{{formatPrice(grandTotal)}}</td>
    </tr>
  </table>
  <button ng-click="updateItemQty(itemsToUpdate)">Update Quantities</button>
</section>

<form action="/checkout" method="POST" ng-show="grandTotal" ng-submit="checkAmount()">
  <!-- <input type="hidden" class="tobehidden" name="amount" ng-show="false" ng-cloak> -->
  <checkoutscript></checkoutscript>
</form>