<section id="cart">
  <h4>Your Order</h4>
  <table>
    <tr>
      <td>Item</td>
      <td>Quantity</td>
      <td>Price</td>
    </tr>
    <tr ng-repeat="items in cartItems">
      <td>{{items.title}}</td>
      <td>{{items.qty}}</td>
      <td>{{formatPrice(items.price * items.qty)}}</td>
    </tr>
    <tr>
      <td></td>
      <td>Total:</td>
      <td>{{formatPrice(grandTotal)}}</td>
    </tr>
  </table>
</section>

<form action="/checkout" method="POST" ng-show="grandTotal" ng-submit="checkAmount()">
<!-- The next line puts the grandtotal in the req.body, but has security issues -->
  <input name="amount" value="{{grandTotal}}" ng-if="false" ng-cloak>
  <checkoutscript></checkoutscript>
</form>