<section id="{{ type }}">
        <img src="{{ type.image_url }}">
        <h4>{{ type.title }}</h4>
        <h2 ng-if="!showAddButton" ng-cloak>Sorry, this product is currently unavailable</h2>
        <button ng-show="showAddButton" ng-click="addToCart(type)">Add to Cart</button>
          <fieldset class="form-group">
            <label>Quantity:</label>
            <select ng-model="type.qty">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </fieldset>
        <h2>DESCRIPTION</h3>
        <h4>{{ type.description }}</h4>
        <h2>REVIEWS</h3>
        <div ng-repeat="review in reviews">
        <h3>{{ review.title }}</h3>
	        <div class="rating-box">
	   			<div style="{{starThing(review.stars)}}" class="rating"></div>
			</div>
        <h4>{{ review.review_body }}</h4>
        <h4>Created on {{ review.date }}</h4>
        </div>
        <h2>LEAVE NEW REVIEW</h2>
        <form class="form-horizontal"
            ng-submit="addReview(newReview)">
          <fieldset class="form-group">
            <label>Title:</label>
            <textarea class="form-control" rows="1"
                ng-model="newReview.title"></textarea>
            <label>Your Review:</label>
            <textarea class="form-control" rows="5"
                ng-model="newReview.review_body"></textarea>
          </fieldset>
          <fieldset class="form-group">
            <label>Stars:</label>
            <select ng-model="newReview.stars">
              <option value="5">5 stars</option>
              <option value="4">4 stars</option>
              <option value="3">3 stars</option>
              <option value="2">2 stars</option>
              <option value="1">1 star</option>
            </select>
          </fieldset>
          <button type="submit" class="btn btn-primary pull-left">Submit</button>
        </form>
</section>