* {
  box-sizing: border-box;
}

body {
  background: #6b4ba3; /* Old browsers */
  background: -moz-linear-gradient(left,  #6b4ba3 0%, #7453b8 9%, #7453b8 92%, #6b4ba3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #6b4ba3 0%,#7453b8 9%,#7453b8 92%,#6b4ba3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #6b4ba3 0%,#7453b8 9%,#7453b8 92%,#6b4ba3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b4ba3', endColorstr='#6b4ba3',GradientType=1 ); /* IE6-9 */
  width: 100%;

  img {
    max-height: 400px;
    max-width: 400px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'roboto';
  }

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  #jranks div.inventory-grid img {
    height: 35vh;
    width: auto;
    margin: 0 auto;
    display: table;
  }

  div.inventory-grid {   
    position: relative; 
    display: inline-block;
    width: 30%;
    height: 35vh;
    min-height: 160px;
    min-width: 260px;
    margin: 5px;
    box-shadow: rgb(59, 26, 121) 0px 0px 26px;
    background: white;

    img {
      width: 100%;
      height: 100%;
    }

    h4 {
      z-index: 2;
      position: absolute;
      top: 10px;
      left: 15px;
      color: white;
      text-shadow: 1px 1px 3px black,
        -1px -1px 0 rgba(0, 0, 0, 0.5),
        1px -1px 0 rgba(0, 0, 0, 0.5),
        -1px 1px 0 rgba(0, 0, 0, 0.5),
        1px 1px 0 rgba(0, 0, 0, 0.5);
      font-family: 'Roboto';
      font-size: 20px;
    }
  }

}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 10px;
  margin: 0 auto;
}

.rating-box {
    background: url("http://i.imgur.com/mY8W0xt.png") repeat-x;
    background-size: 20px;
    font-size: 0;
    height: 25px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 100px;
}

.rating-box .rating {
    background: url("http://i.imgur.com/mY8W0xt.png") repeat-x;
    background-position: 0 100%;
    background-size: 20px;
    float: left;
    height: 18px;
}

table {
  background: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.51);
  table-layout: fixed;
  width: 100%;
  
  a.fa {
    font-size: 22px;
    margin: 0 auto;
    display: table;
    text-decoration: none;
  }

  a.fa-remove {
  color: #d62727;
  transition: color 0.2s;
  cursor: pointer;
    &:hover {
      background: none;
      color: red;
    }
    &:focus {
      background: none;
    }
  }
  
  a.fa-pencil {
    color: #eaa419;
    transition: color 0.2s;
      &:hover {
        background: none;
        color: #ffba32;
      }
      &:focus {
        background: none;
      }
  }

  a.fa-star-half-o {
    color: #a7a7a7;
    transition: color 0.2s;
      &:hover {
        background: none;
        color: #c5c5c5;
      }
      &:focus {
        background: none;
      }
  }

  tr.headers {
    font-family: 'roboto';
    text-align: center;
    background: #350658;
    color: white;
  }

  td {
    padding: 10px;
    border: 1px ridge black;
    overflow-wrap: break-word;
  }

  .table_description {
    width:300px;
  }

  .table_image {
    width:200px;
  }

  .table_delete, .table_edit, .table_reviews {
    width:50px;
  }
}

// .form-horizontal .form-group {
//     margin-right: 0;
//     margin-left: 0;
// }

.featured-inventory {
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
}

.review-section {
  clear: both;
}

textarea.form-control, select.form-control, input.form-control {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.36);
    margin-bottom: 3px;
}

button.btn-item-page {
  float:left;
}

.review-posts {
  clear: both;
}

#home li {
  list-style: none;
}

hr.enforcer {
  margin-bottom: 60px;
  border-color: transparent;
}

.panel-filter.panel.input-group {
    width: 300px;
    float: right;
}

.update-qty {
  float: right;
  margin-left: 5px;
}

#cart {
  table {
    margin-bottom: 10px;
  }
  
}

checkoutscript {
  float: right;
}

.hide-right {
  border-right: 1px solid transparent;
}

button.fa-shopping-basket {
  position: relative;
  span {
    font-family: 'roboto';
    position: absolute;
    left: 18px;
    text-shadow: 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black, 0px 0px 5px black;
    margin: 0 auto;
  }
}

div#home-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;

    h1 {
      position:relative;
      margin: 0 auto;
      color: #58f558;
      text-shadow: 0px 0px 20px #58f558, 0px 0px 10px black;
      text-align: center;
      display: table;
      font-size: 7em;
    }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';
