* {
  box-sizing: border-box;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b4ba3+0,7453b8+9,7453b8+92,6b4ba3+100 */
  background: #6b4ba3; /* Old browsers */
  background: -moz-linear-gradient(left,  #6b4ba3 0%, #7453b8 9%, #7453b8 92%, #6b4ba3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #6b4ba3 0%,#7453b8 9%,#7453b8 92%,#6b4ba3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #6b4ba3 0%,#7453b8 9%,#7453b8 92%,#6b4ba3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b4ba3', endColorstr='#6b4ba3',GradientType=1 ); /* IE6-9 */


  img {
    max-height: 400px;
    max-width: 400px;
  }

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  div.inventory-grid {   
    position: relative; 
    display: inline-block;
    width: 30%;
    height: 35vh;
    min-height: 160px;
    min-width: 260px;
    margin: 5px;
    box-shadow: rgb(59, 26, 121) 0px 0px 26px;

    img {
      width: 100%;
      height: 100%;
    }

    h4 {
      z-index: 2;
      position: absolute;
      top: 10px;
      left: 15px;
      color: white;
      text-shadow: 1px 1px 3px black,
        -1px -1px 0 rgba(0, 0, 0, 0.5),
        1px -1px 0 rgba(0, 0, 0, 0.5),
        -1px 1px 0 rgba(0, 0, 0, 0.5),
        1px 1px 0 rgba(0, 0, 0, 0.5);
      font-family: 'Roboto';
      font-size: 20px;
    }
  }

}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'signup/main';